{% extends 'index.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<div class="container">
        <div class="section-title text-center">
            <h3>Enter</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="enter">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}