{% extends 'index.html' %}
{% block content %}
<div style="background-color: #4f5050">
    <br>
    <br>
    <br>
    <br>

</div>
    <br>
<div class="container">
        <div class="section-title text-center">
            <h3>New user registration </h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Registration">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}