   <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container">

        <div class="section-title">
          <h2>Our Proffesional <span>Chefs</span></h2>
          <p> Let us to present our main team </p>
        </div>

        <div class="row">
            {% for chef in chefs %}
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="pic"><img src={{ chef.photo.url }} class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{ chef.name}}</h4>
                <span>{{ chef.speciality}}</span>
                <div class="social">
                  <a href={{ chef.twit }}><i class="bi bi-twitter"></i></a>
                  <a href={{ chef.faceb }}><i class="bi bi-facebook"></i></a>
                  <a href={{ chef.insta }}><i class="bi bi-instagram"></i></a>
                  <a href={{ chef.linked }}><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

            {% endfor %}
        </div>

      </div>
    </section><!-- End Chefs Section -->