 {% extends 'index.html' %}
 {% block content %}
 {% load static %}
    {%  include 'hero.html' %}
  <main id="main">

    {% include 'about_us.html' %}

    {% include 'whyus.html' %}

    {% include 'main_menu.html' %}

    {% include 'special.html' %}

    {% include 'events.html' %}



    {% include 'reservation.html' %}

      </div>
    </section><!-- End Book A Table Section -->

    {% include 'gallery.html' %}


    {% include 'chef.html' %}

    {% include 'testomonials.html' %}

    {% include 'contact.html' %}

  </main><!-- End #main -->
 {% endblock %}
